html{
    background-color: blueviolet;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#pokedex-heading{
    margin: 0 auto;
    margin-top: 1rem;
    letter-spacing: 5px;
}
a{
    text-decoration: none;
    color: black;
}